<html>
  <% include header.ejs %>
  <body class="body">
    <% include nav.ejs %>
    <h1>Successfully created <%= data.stuName %></h1>
    <p><strong>Student Name: </strong><%= data.stuName %></p>
    <p><strong>Student ID: </strong><%= data.stuId %></p>
    <p><strong>Student stream: </strong><%= data.stream %></p>
  </body>
</html>
